a{
  margin-left: 30px!important;
  margin-top: 25px!important;
}
.buttonn{
  background-color: #6f42c1!important;
  border-radius: 20px!important;
  width: 150px!important;
  height: 35px!important;
  margin-left: 120px!important;
}
.c{
  width:1518px!important;
}
.f{
  margin-left: 90px!important;
  margin-top: 20px!important;
}
.buttonnn{
  background-color: #6f42c1!important;
  border-bottom-right-radius: 20px!important;
  border-top-right-radius: 20px!important;
  height: 30px!important;
  margin-left: -5px!important;
  margin-top: -5px!important;
}
.text2{
  margin-left: 5px!important;
  margin-top: -2px!important;

}
.text1{
  margin-top: -630px!important;
  margin-left: 100px!important;
}
.d{
  border-bottom-left-radius: 20px!important;
  border-top-left-radius:20px!important;
  border: 2px solid #6f42c1;
}
.e{
  margin-top: 350px!important;
}
.g{
  background-color: #6f42c1!important;
  border-radius: 20px!important;
  width: 150px!important;
  height: 35px!important;
}
.text3{
  margin-top: 170px!important;
  margin-left: 75px!important;
  width: 400px!important;
}
.h{
  margin-left: 600px!important;
  margin-top: -280px!important;
}
.box2{
  margin-left: 900px!important;
  margin-top: -420px!important;
}
.bor{
  border-bottom: 1px solid blue;
  width: 150px!important;
}
.img2{
  margin-left: 100px!important;
}
.box4{
  background-color: #c4c2bf;
  margin-top: 100px!important;
}
.img3{
  margin-left: 90px!important;
}
.box6{
  margin-top: 100px!important;
  background-color: #dedad4;
  height: 600px!important;
}
.rasm{
  width: 400px!important;
  }
.quti{
  margin-left:70px!important;
  margin-top: 30px!important;
}.r{
  height: 450px!important;
  border-radius: 5px!important;
 }
.carousel-indicatorsl li{
  margin-top: 150px!important;
}
.carousel-control-prev{
  margin-left: -80px!important;
}
.carousel-control-next-icon{
  margin-left: 150px!important;
}
.btnn{
  background-color: #6f42c1!important;
  border-radius: 10px!important;
  height: 30px!important;
  color: white!important;
  width: 150px!important;
  margin-top: 80px!important;
}
.mayda{
  font-size: 10px!important;
}
.photo{
  margin-left: 700px!important;
  margin-top: -350px!important;
  width: 500px!important;
}
.input2{
  width: 190px!important;
  border-bottom-left-radius: 10px!important;
  border-top-left-radius: 10px!important;
  border: 2px solid red!important;
}
.butto{
  width: 150px!important;
  border-bottom-right-radius: 10px!important;
  border-top-right-radius: 10px!important;
  height: 30px!important;
  background-color: blueviolet!important;
  margin-left: -5px!important;
  margin-top: -4px!important;
}
.yozuv3{
  margin-top: -170px!important;
  position: absolute;
  margin-left: 450px!important;
}
.yozuv4{
  margin-top: -50px!important;
  margin-left: 100px!important;
}
.rasm2{
  margin-left: 650px!important;
  width: 150px!important;
}
.finally{
  background-image: url("Qubit/image_2023-10-30_17-06-43.png") !important;
  background-repeat: no-repeat!important;
}
